/* Main CSS */
* {
  font-size: small;
}

.card {
  margin-bottom: 10px;
}

legend.legendMain {
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

legend.legendInner{
  text-align: center;
  /* background-color: #f8f9fa; */
  /* border: 1px solid grey; */
  border-radius: 0px;
}

fieldset.fieldsetMain {
  margin-top: 10px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

fieldset.fieldsetInner {
  margin-top: 5px;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 0px;
}

#detectedObjectAllTableInner {
  overflow-y: auto;
  height: 500px;
}

fieldset#detectedObjectAllTable {
  height: 500px;
}

/* Modal Styling FS */
.modal-dialog {
  max-width: unset;
  width: 98%;
  height: 92%;
  padding: 0;
}

.modal-content {
  height: 99%;
}
